In [1]:
import os 
import numpy as np
import pandas as pd

In [2]:
def drop_columns(df, cols):
    #cols: parametremiz kaldırılacak sütunlar içindir.
    for col in cols:
        try:
            df.drop ([col], axis = 1, inplace = True)
        except Exception as e:
            print(f"Burada bir hata ve {e}")

In [3]:
files = os.listdir('hepsiemlak')

df = pd.concat([pd.read_csv(f"hepsiemlak/{file}")for file in files], ignore_index = True)

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   img-link href        8136 non-null   object
 1   photo-count          8130 non-null   float64
 2   list-view-price      8136 non-null   object
 3   list-view-date       8136 non-null   object
 4   left                 8114 non-null   object
 5   celly                8136 non-null   object
 6   celly 2              8136 non-null   object
 7   celly 3              8136 non-null   object
 8   celly 4              6858 non-null   object
 9   list-view-location   8136 non-null   object
 10  img-wrp href         4555 non-null   object
 11  he-lazy-image src    7649 non-null   object
 12  he-lazy-image src 2  4067 non-null   object
 13  list-view-header     8129 non-null   object
 14  branded__text        134 non-null    object
 15  branded__text 2      134 non-null    object
 16  img-wrp href 2       133 non-null    object
 17  he-lazy-image src 3  116 non-null    object
dtypes: float64(1), object(17)
memory usage: 1.1+ MB
None

In [5]:
print(df.columns)

Index(['img-link href', 'photo-count', 'list-view-price', 'list-view-date',
       'left', 'celly', 'celly 2', 'celly 3', 'celly 4', 'list-view-location',
       'img-wrp href', 'he-lazy-image src', 'he-lazy-image src 2',
       'list-view-header', 'branded__text', 'branded__text 2',
       'img-wrp href 2', 'he-lazy-image src 3'],
      dtype='object')

In [6]:
cols = ['photo-count','list-view-header', 'list-view-location','he-lazy-image src',
       'left', 'he-lazy-image src 2', 'branded__text', 'branded__text 2',  'img-wrp href 2', 'he-lazy-image src 3']

drop_columns(df, cols)

In [7]:
df['location'] = df['img-link href'].apply(lambda x: x.split('/')[3])
#URL içerisinde konum bilgisini almak için 3'deki verileri istedik
df['city'] = df['location'].str.split('-').str[0]
#Şehir isimlerini lokasyondaki 0'ıncı indeksten çağırdık
df['district'] = df['location'].str.split('-').str[1]
#İlçe isimlerini yine lokasyondan ve 1'indeksten çekmiş olduk
df['neighborhood'] = df['location'].str.split('-').str[2:-1]
#Mahalle adını içeren kısımları almak için işlemimizi tamamlıyoruz.
df['neighborhood'] =df['neighborhood'].apply(lambda x: '_'.join(x))
#Mahalle adlarını tek bir string formatına çevirmeye yarar.

In [9]:
drop_columns(df, ['location', 'img-link href'])

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   list-view-date  8136 non-null   object
 1   celly           8136 non-null   object
 2   celly 2         8136 non-null   object
 3   celly 3         8136 non-null   object
 4   celly 4         6858 non-null   object
 5   img-wrp href    4555 non-null   object
 6   city            8136 non-null   object
 7   district        8136 non-null   object
 8   neighborhood    8136 non-null   object
dtypes: object(9)
memory usage: 572.2+ KB
None

In [12]:
drop_columns(df, ['img-wrp href'])

In [15]:
print(df[['city', 'district', 'neighborhood']].sample(50))

                city      district         neighborhood
3539           izmir   seferihisar              payamli
985            izmir       menemen           30_agustos
7106           mugla       fethiye               akarca
271            izmir       torbali           yedi_eylul
5253         denizli     pamukkale             feslegen
6637           mugla        bodrum                geris
6570           mugla        bodrum            yalikavak
7281           mugla        bodrum               golkoy
5086         denizli  merkezefendi          sirakapilar
2056           izmir        dikili             salihler
6493           mugla      marmaris            armutalan
5122         denizli     pamukkale              bagbasi
2906           izmir         cesme             reisdere
307            izmir         cesme              musalla
8026           mugla       fethiye            karaculha
6607           mugla       dalaman                  ege
4290           aydin      kusadasi         degirmendere
2258           izmir     karsiyaka                aksoy
2278           izmir       torbali               pancar
6035           mugla        bodrum              karabag
2294           izmir         cesme          ismet_inonu
776            izmir    karabaglar             gunaltay
4706           aydin         didim                akbuk
217            izmir         cigli             balatcik
4193           aydin      kusadasi           kadikalesi
5179         denizli     pamukkale        dokuzkavaklar
16             izmir   seferihisar    colak_ibrahim_bey
575            izmir          foca          kazim_dirik
4496           aydin          soke            fevzipasa
1617           izmir         cesme              alacati
5972           mugla         milas                 oren
7950           mugla        ortaca               dalyan
168            izmir       balcova           cetin_emec
7101           mugla        ortaca         bahcelievler
388            izmir     karsiyaka                 yali
4017  afyonkarahisar        merkez           dumlupinar
6526           mugla        ortaca           cumhuriyet
7960           mugla         datca               emecik
5572         denizli     pamukkale             feslegen
3509           izmir         cesme              alacati
83             izmir    karabaglar             esentepe
3954  afyonkarahisar        merkez  erkmen_fevzi_cakmak
4044           aydin       nazilli             isabeyli
3867          manisa     yunusemre               75_yil
7181           mugla        bodrum                torba
433            izmir    karabaglar              doganay
7150           mugla        bodrum            eskicesme
5487         denizli     pamukkale          asmalievler
3186           izmir       torbali              torbali
5083         denizli  merkezefendi            yenisafak

In [17]:
print(df['celly'].unique())
#Buradaki celly değeri bize daire toplamını veririr

['1 +\n                        1' '3 +\n                        1'
 '2 +\n                        1' '4 +\n                        1'
 '4 +\n                        2' '5 +\n                        1'
 '6 +\n                        1' '7 +\n                        1'
 '21 +\n                        1' '6 +\n                        2'
 '5 +\n                        2' 'Stüdyo'
 '7 +\n                        2' '3 +\n                        2'
 '2 +\n                        0' '6 +\n                        0'
 '9 +\n                        4' '9 +\n                        1'
 '3 +\n                        0' '1 +\n                        15'
 '2 +\n                        2' '8 +\n                        1'
 '41 +\n                        4' '4 +\n                        0'
 '1 +\n                        25' '4 +\n                        4'
 '3 +\n                        4' '1 +\n                        2'
 '3 +\n                        3' '31 +\n                        1'
 '4 +\n                        3' '9 +\n                        5'
 '8 +\n                        4' '4 +\n                        5'
 '9 +\n                        3' '25 +\n                        5'
 '8 +\n                        0' '9 +\n                        9'
 '14 +\n                        6' '10 +\n                        1']

In [19]:
df['celly'] = df['celly'].apply(lambda x: x.replace('Stüdyo', '1 + 0'))
#Stüdyo olan değerimizi 1 + 0 ile yani sayısal tanımlaya uygun olacak şekilde verimizi güncelledik

df['celly'] = df['celly'].apply(lambda x: x.replace('\n', ''))
#aldığı değerin satır sonunu verilen n değerini boşluk ile değiştirir

df['room'] = df['celly'].apply(lambda x: x.split('+')[0]).astype(int)
#Burada Oda sayısını belirlediğimiz için bir değişken oluşturuyoruz ve işlemimizi 0'cı indekde bulanan yani oda sayına karşılık gelen kısmı alıyoruz
df['living_room'] = df['celly'].apply(lambda x: x.split('+')[1]).astype(int)
#Oturma odası değeri ise 1 indekste bulunuyor

In [20]:
print(df['room'].unique())
print(df['living_room'].unique())

[ 1  3  2  4  5  6  7 21  9  8 41 31 25 14 10]
[ 1  2  0  4 15 25  3  5  9  6]

In [21]:
drop_columns(df, ['celly'])

In [22]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   list-view-date  8136 non-null   object
 1   celly 2         8136 non-null   object
 2   celly 3         8136 non-null   object
 3   celly 4         6858 non-null   object
 4   city            8136 non-null   object
 5   district        8136 non-null   object
 6   neighborhood    8136 non-null   object
 7   room            8136 non-null   int32
 8   living_room     8136 non-null   int32
dtypes: int32(2), object(7)
memory usage: 508.6+ KB
None

In [23]:
print(df['celly 2'].unique())
#Buradaki değer ise dairenin toplam kaç metre kare olduğu belirtir.

['55 m²' '150 m²' '60 m²' '160 m²' '135 m²' '67 m²' '140 m²' '170 m²'
 '130 m²' '230 m²' '220 m²' '210 m²' '89 m²' '120 m²' '200 m²' '355 m²'
 '75 m²' '110 m²' '100 m²' '65 m²' '145 m²' '115 m²' '1.000 m²' '250 m²'
 '105 m²' '50 m²' '87 m²' '90 m²' '85 m²' '155 m²' '275 m²' '240 m²'
 '95 m²' '174 m²' '80 m²' '125 m²' '180 m²' '165 m²' '350 m²' '97 m²'
 '45 m²' '300 m²' '84 m²' '42 m²' '98 m²' '86 m²' '500 m²' '70 m²' '51 m²'
 '73 m²' '132 m²' '325 m²' '141 m²' '450 m²' '600 m²' '47 m²' '72 m²'
 '71 m²' '3.000 m²' '175 m²' '320 m²' '280 m²' '156 m²' '190 m²' '78 m²'
 '162 m²' '185 m²' '18 m²' '330 m²' '151 m²' '56 m²' '136 m²' '131 m²'
 '48 m²' '580 m²' '119 m²' '147 m²' '77 m²' '245 m²' '35 m²' '375 m²'
 '146 m²' '161 m²' '163 m²' '149 m²' '206 m²' '138 m²' '93 m²' '63 m²'
 '41 m²' '183 m²' '96 m²' '108 m²' '76 m²' '475 m²' '359 m²' '124 m²'
 '91 m²' '194 m²' '43 m²' '4.500 m²' '68 m²' '205 m²' '20 m²' '103 m²'
 '53 m²' '270 m²' '58 m²' '302 m²' '505 m²' '800 m²' '168 m²' '154 m²'
 '368 m²' '178 m²' '40 m²' '750 m²' '92 m²' '181 m²' '400 m²' '30 m²'
 '260 m²' '460 m²' '390 m²' '64 m²' '360 m²' '340 m²' '550 m²' '38 m²'
 '121 m²' '4.000 m²' '295 m²' '112 m²' '137 m²' '22 m²' '128 m²'
 '3.200 m²' '440 m²' '122 m²' '370 m²' '380 m²' '204 m²' '148 m²' '142 m²'
 '520 m²' '166 m²' '870 m²' '143 m²' '57 m²' '286 m²' '81 m²' '116 m²'
 '209 m²' '59 m²' '106 m²' '74 m²' '1.301 m²' '52 m²' '167 m²' '217 m²'
 '25 m²' '290 m²' '196 m²' '184 m²' '159 m²' '195 m²' '640 m²' '285 m²'
 '235 m²' '337 m²' '211 m²' '134 m²' '832 m²' '152 m²' '88 m²' '213 m²'
 '126 m²' '255 m²' '199 m²' '127 m²' '11 m²' '66 m²' '399 m²' '187 m²'
 '341 m²' '745 m²' '118 m²' '144 m²' '15 m²' '535 m²' '5.500 m²' '114 m²'
 '208 m²' '94 m²' '46 m²' '173 m²' '900 m²' '225 m²' '402 m²' '111 m²'
 '193 m²' '1.100 m²' '212 m²' '102 m²' '177 m²' '101 m²' '164 m²' '158 m²'
 '62 m²' '172 m²' '9.000 m²' '21 m²' '117 m²' '82 m²' '49 m²' '176 m²'
 '182 m²' '981 m²' '256 m²' '32 m²' '3.510 m²' '215 m²' '1.057 m²'
 '171 m²' '79 m²' '169 m²' '28 m²' '104 m²' '201 m²' '310 m²' '1.150 m²'
 '2.000 m²' '228 m²' '700 m²' '349 m²' '203 m²' '510 m²' '31 m²' '33 m²'
 '950 m²' '650 m²' '252 m²' '493 m²' '265 m²' '1.400 m²' '5 m²' '113 m²'
 '36 m²' '317 m²' '850 m²' '249 m²' '109 m²' '420 m²' '995 m²' '545 m²'
 '192 m²' '1.250 m²' '490 m²' '760 m²' '157 m²' '54 m²' '405 m²' '99 m²']

In [24]:
df['celly 2'] = df['celly 2'].apply(lambda x: x.replace('.', ''))
#Arasında nokta olan değerin noktasını kaldır

df['area'] = df['celly 2'].apply(lambda x: x.split(' ')[0]).astype(int)
#Burada metrakare değerlerimi elde etmiş oluyorum

In [25]:
print(df['area'].unique())

[  55  150   60  160  135   67  140  170  130  230  220  210   89  120
  200  355   75  110  100   65  145  115 1000  250  105   50   87   90
   85  155  275  240   95  174   80  125  180  165  350   97   45  300
   84   42   98   86  500   70   51   73  132  325  141  450  600   47
   72   71 3000  175  320  280  156  190   78  162  185   18  330  151
   56  136  131   48  580  119  147   77  245   35  375  146  161  163
  149  206  138   93   63   41  183   96  108   76  475  359  124   91
  194   43 4500   68  205   20  103   53  270   58  302  505  800  168
  154  368  178   40  750   92  181  400   30  260  460  390   64  360
  340  550   38  121 4000  295  112  137   22  128 3200  440  122  370
  380  204  148  142  520  166  870  143   57  286   81  116  209   59
  106   74 1301   52  167  217   25  290  196  184  159  195  640  285
  235  337  211  134  832  152   88  213  126  255  199  127   11   66
  399  187  341  745  118  144   15  535 5500  114  208   94   46  173
  900  225  402  111  193 1100  212  102  177  101  164  158   62  172
 9000   21  117   82   49  176  182  981  256   32 3510  215 1057  171
   79  169   28  104  201  310 1150 2000  228  700  349  203  510   31
   33  950  650  252  493  265 1400    5  113   36  317  850  249  109
  420  995  545  192 1250  490  760  157   54  405   99]

In [26]:
drop_columns(df, ['celly 2'])

In [27]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   list-view-date  8136 non-null   object
 1   celly 3         8136 non-null   object
 2   celly 4         6858 non-null   object
 3   city            8136 non-null   object
 4   district        8136 non-null   object
 5   neighborhood    8136 non-null   object
 6   room            8136 non-null   int32
 7   living_room     8136 non-null   int32
 8   area            8136 non-null   int32
dtypes: int32(3), object(6)
memory usage: 476.8+ KB
None

In [29]:
print(df['celly 3'].unique())
#Burada bina yaşını depolayan yani içerisinde istediğim bina yaş verilerine ulaşabilirim

['25\n                      Yaşında' '35\n                      Yaşında'
 '2\n                      Yaşında' '27\n                      Yaşında'
 '15\n                      Yaşında' '10\n                      Yaşında'
 '20\n                      Yaşında' '30\n                      Yaşında'
 '16\n                      Yaşında' '11\n                      Yaşında'
 '31\n                      Yaşında' 'Sıfır Bina'
 '5\n                      Yaşında' '26\n                      Yaşında'
 '12\n                      Yaşında' '4\n                      Yaşında'
 '6\n                      Yaşında' '22\n                      Yaşında'
 '23\n                      Yaşında' '29\n                      Yaşında'
 '3\n                      Yaşında' '8\n                      Yaşında'
 '33\n                      Yaşında' '50\n                      Yaşında'
 '7\n                      Yaşında' '18\n                      Yaşında'
 '32\n                      Yaşında' '28\n                      Yaşında'
 '14\n                      Yaşında' '40\n                      Yaşında'
 '9\n                      Yaşında' '21\n                      Yaşında'
 '45\n                      Yaşında' '38\n                      Yaşında'
 '19\n                      Yaşında' '24\n                      Yaşında'
 '17\n                      Yaşında' '1\n                      Yaşında'
 '36\n                      Yaşında' '34\n                      Yaşında'
 '13\n                      Yaşında' '42\n                      Yaşında'
 '44\n                      Yaşında' '43\n                      Yaşında'
 '37\n                      Yaşında' '55\n                      Yaşında'
 '47\n                      Yaşında' '39\n                      Yaşında'
 '49\n                      Yaşında' '52\n                      Yaşında'
 '300\n                      Yaşında' '199\n                      Yaşında'
 '48\n                      Yaşında' '60\n                      Yaşında'
 '61\n                      Yaşında' '600\n                      Yaşında'
 '100\n                      Yaşında']

In [39]:
df['celly 3'] = df['celly 3'].apply(lambda x: x.replace('Sıfır Bina', '0 Yaşında'))
#Binanın sıfır olduğunu yaşına göre gösteriyoruz.
df['celly 3'] = df['celly 3'].apply(lambda x: x.replace('\n', ' '))
#Burada yaptığımız işlen sonlarındaki kaçma komutu olan yani \n kaldırıyoruz
df['age'] = df['celly 3'].apply(lambda x: x.split(' ')[0]).astype(int)

In [40]:
print(df['age'].unique())

[ 25  35   2  27  15  10  20  30  16  11  31   0   5  26  12   4   6  22
  23  29   3   8  33  50   7  18  32  28  14  40   9  21  45  38  19  24
  17   1  36  34  13  42  44  43  37  55  47  39  49  52 300 199  48  60
  61 600 100]

In [41]:
drop_columns(df, ['celly 3'])

In [42]:
print(df['celly 4'].unique())
#Burada celly 4 ile kat değerlerini öğreniyoruz.

['Yüksek Giriş' '3. Kat' 'Ara Kat' '4. Kat' '2. Kat' 'Zemin' nan
 'Tripleks' 'Villa Katı' 'Bahçe Katı' '1. Kat' '8. Kat' '6. Kat'
 'Giriş Katı' '5. Kat' '7. Kat' '21 ve üzeri' 'En Üst Kat' 'Teras Katı'
 '13. Kat' 'Kot 1' '9. Kat' 'Çatı Katı' '10. Kat' '12. Kat' 'Kot 2'
 '15. Kat' 'Bodrum ve Zemin' '11. Kat' 'Kot 3' '18. Kat' '20. Kat'
 'Yarı Bodrum' '14. Kat' '16. Kat' '17. Kat' 'Asma Kat' 'Bodrum' '19. Kat']

In [48]:
replace_dict = {
    'Kot 2': '-2. Kat',
    'Kot 1': '-1. Kat',
    'Yüksek Giriş': '1.Kat',
    'Ara Kat': '3. Kat',
    'En Üst Kat': '5. Kat',
    'Bahçe Katı': '0. Kat',
    'Yarı Bodrum': '0. Kat',
    'Bodrum': '0. Kat',
    'Kot 3': '-3. Kat',
    'Çatı Katı': '5. Kat',
    'Villa Katı': '0. Kat',
    'Zemin': '0. Kat',
    'Giriş Katı': '0. Kat',
    '21 ve üzeri': '21. Kat',
    'Bodrum ve Zemin': '0. Kat',
    'Asma Kat': '1. Kat',
    'Tripleks': '0. Kat',
    'Teras Katı': '5. Kat',
    'nan': '2. Kat',
}
#Replace ile elimizde bulanan veri değerlerinin daha anlaşılır ve veride kullanırken daha verimli sonuçları almak için tanımlarını değiştiriyoruz.

df['celly 4'] = df['celly 4'].replace(replace_dict.keys(), replace_dict.values()).astype(str)
#Burada anahtar kelime ve değerlerini ekleyerek değiştir diyoruz.
df['celly 4'].dropna(inplace = True)
#Boşluk olan değerleri kaldırmak için yani nan gördüğü verileri kaldırır.

df['floor'] = df['celly 4'].apply(lambda x: x.split('.')[0]).astype(int)

In [49]:
print(df['floor'].unique())

[ 1  3  4  2  0  8  6  5  7 21 13 -1  9 10 12 -2 15 11 -3 18 20 14 16 17
 19]

In [51]:
drop_columns(df, ['celly 4'])

In [53]:
print(df['list-view-price'].unique())

KeyError: 'list-view-price'